<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cationary</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/fontawesome.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/fa-light.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/assets/js/semantic.min.js"></script>

  <div id="Menu">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ul id="Menu-Nav">
      <li>Get the API</li>
      <li>Contact the cat lady</li>
    </ul>
    <div id="Menu-Byline">
      <span id="Menu-By">By</span>
      <svg id="Menu-hannahap" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.38 65.38">
        <path
          d="M32.69,65.38A32.69,32.69,0,1,1,65.38,32.69,32.73,32.73,0,0,1,32.69,65.38Zm0-61.59a28.9,28.9,0,1,0,28.68,28.9A28.83,28.83,0,0,0,32.69,3.79Z" />
        <path
          d="M20.76,52.54A11,11,0,0,1,10.6,45.68c-2.44-6.13,1-11.8,3.1-13.59,4.14-3.57,10-4.14,16.13-1.65.8-5,1.37-9.34,1.83-12.84.24-1.81.44-3.38.64-4.75l4,.59c-.2,1.36-.4,2.91-.63,4.7-.5,3.82-1.13,8.63-2,14.18a29.31,29.31,0,0,1,8.08,7.26,26.28,26.28,0,0,1,1.93,2.92L47.9,13.74l4,.56L46.29,52.4l-4-.27c0-4.84-3.29-11.26-9.49-15.48-.17,1-.35,1.91-.53,2.9-.68,3.57-2.1,11-9.33,12.73A9.42,9.42,0,0,1,20.76,52.54ZM22.56,33a9.4,9.4,0,0,0-6.29,2.21,8.64,8.64,0,0,0-2,8.9,6.94,6.94,0,0,0,7.76,4.17c4.35-1,5.51-5.29,6.32-9.54.27-1.43.53-2.82.76-4.18A16.18,16.18,0,0,0,22.56,33Z" />
        </svg>
    </div>
  </div>

  {{{ body }}}
</body>

</html>