<div id="Auditorium">
  <nav id="NavBar">
    <h1 id="NavBar-Flag">Cationary</h1>
    <i class="fal fa-bars" id="NavBar-Icon"></i>
  </nav>

  <main class="ui container" id="Stage">
    <h1 class="ui center aligned header" id="WOTD-Header">Word of the Day</h1>
    <div class="ui fluid pink card" id="WOTD-Card">
      <div class="content">
        <div class="header">
          <h1>Suziefruits</h1>
        </div>
        <div class="meta">
          <span class="right floated time">2 days ago</span>
          <span class="category"><em>(n.)</em> • suzie-fruits</span>
        </div>
        <div class="description" id="WOTD-Definition">
          <p>Alternative name for Peach</p>
        </div>
      </div>
      <div class="extra content">
        <div class="right floated author">
          <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> Peach <img class="ui avatar image"
            src="/images/avatar/small/matt.jpg"> Opal
        </div>
      </div>
    </div>
  </main>

  <div id="ScrollDown">
    <i class="fal fa-chevron-down" id="ScrollDown-Icon"></i>
    <h2 id="ScrollDown-Note">See more weird words</h2>
  </div>
</div>

<div id="DictionaryAuditorium">
  <section class="ui container" id="DictionaryStage">
</div>

<script src="/assets/js/home.js"></script>